body {
    color: #f44336;
}
.text>span {
    text-decoration: line-through;
}

.text {
    text-align: left;
}
.link {
    text-decoration: none;
}
.site-nav .link {
    text-transform: capitalize;
}
.text {
    text-indent: 3%;
}.post-title {
    letter-spacing: 10px;
}

.post-text {
    letter-spacing: 5px;
}
.title {
    color: #ffffff;
    text-shadow: 2px 2px 20px #ff0000, 5px 5px 5px #000000;
}
pre {
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: #2a2a2a;
    font-size: 16px;
}

pre::first-letter {
    font-family: 'Tahoma', serif;
    font-size: 32px;
    color: #f44336;
}
pre::selection {
    color: tomato;
    background-color: pink;
}

.text {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}